@model UserEditVM
@{
    ViewData["Title"] = "Register";
}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap"
          rel="stylesheet">
    <!-- owl caorusel -->
    <link rel="stylesheet" href="~/plugins/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/plugins/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owl.theme.default.min.css">
    <!-- --------------------- -->
    <link rel="stylesheet" href="~/plugins/ui-main/dist/fancybox.css" />
    <link rel="stylesheet" href="~/plugins/star-rating-svg-master/src/css/star-rating-svg.css">
    <link rel="stylesheet" href="~/assets/sass/main.css" />
    <title>Electro</title>
</head>
<style>
    a{
        text-decoration:none !important;
    }
</style>
<body>
    <div id="registerPage">
        <section id="account">
            <div class="container">
                <div class="row">
                    <div class="account">
                        <div class="registerwrapper">
                            <div class="register">
                                <div class="heading">
                                    <h4 class="nameofdiv">Edit Admin Account</h4>
                                </div>
                                <div class="content">
                                    <p class="description">Create your own Account</p>
                                    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                                    <form method="post">
                                        <div class="inputwrapper">
                                            <label asp-for="Fullname">Fullname</label>
                                            <input asp-for="Fullname" placeholder="Fullname"><br />
                                            <span class="text text-danger" asp-validation-for="Fullname"></span>
                                        </div>
                                        <div class="inputwrapper">
                                            <label asp-for="Username">Username</label>
                                            <input asp-for="Username" placeholder="Username"><br />
                                            <span class="text text-danger" asp-validation-for="Username"></span>
                                        </div>
                                        <div class="inputwrapper">
                                            <label asp-for="Email">Email Address</label>
                                            <input asp-for="Email" placeholder="someone@example.com"><br />
                                            <span class="text text-danger" asp-validation-for="Email"></span>
                                        </div>
                                        <div class="inputwrapper">
                                            <label asp-for="CurrentPassword">Current Password</label>
                                            <input asp-for="CurrentPassword" placeholder="Password"><br />
                                            <span class="text text-danger" asp-validation-for="CurrentPassword"></span>
                                        </div>
                                        <div class="inputwrapper">
                                            <label asp-for="Password">New Password</label>
                                            <input asp-for="Password" placeholder="New password"><br />
                                            <span class="text text-danger" asp-validation-for="Password"></span>
                                        </div>
                                        <div class="inputwrapper">
                                            <label asp-for="ComfirmPassword">Comfirm New Password</label>
                                            <input asp-for="ComfirmPassword" placeholder="Repeat new password"><br />
                                            <span class="text text-danger" asp-validation-for="ComfirmPassword"></span>
                                        </div>
                                        <input class="inpSubmit" type="submit" value="Save Changes">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- owl carousel -->
    <script src="~/plugins/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js"></script>
    <!-- ---------------- -->
    <!-- ------progressbar---- -->
    <script src="~/assets/JS/skill.bars.jquery.js"></script>
    <!-- ----------------- -->
    <script src="~/assets/js/script.js"></script>
</body>