@model ProductVM
@{
    ViewData["Title"] = "Index";
}
<section id="productlistPage">
    <body>
        <section id="brdcrumb">
            <div class="container">
                <div class="row">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <div class="display">
                                    <div class="syllabus">
                                        <a href="#">Home > All In One</a>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <section id="productList">
            <div class="container">
                <div class="row">
                    <div class="productlistpageLeftside col-lg-3">
                        <div class="productfilter">
                            <div class="opncloseSide d-lg-none">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                     viewBox="0 0 64 64">
                                    <path d="M57.6 53.12l-21.248-21.248 20.864-21.248-4.096-4.224-21.248 20.992-20.992-20.992-4.48 4.224 21.248 21.248-21.248 21.248 4.48 4.224 20.992-20.992 21.248 20.992 4.48-4.224z">
                                    </path>
                                </svg>
                            </div>
                            <div class="heading d-lg-block d-md-none d-sm-none">
                                <h4 class="nameofdiv">Filter</h4>
                            </div>
                            <ul class="mylist">
                                <div class="listelement">
                                <li class="filters">
                                    <div class="filtername">
                                        <h6>
                                            Color
                                        </h6>
                                        <span class="Icon zerodeg">
                                            <i class="fas fa-chevron-down"></i>
                                        </span>
                                    </div>
                                    <div class="filterelement">
                                        <ul class="advanced-filter">
                                            <li class="filtercolorelement">
                                                <a href="" style="background-color:rgb(29, 29, 29);"></a>
                                            </li>
                                            <li class="filtercolorelement">
                                                <a href="" style="background-color:rgb(56, 56, 134);"></a>
                                            </li>
                                            <li class="filtercolorelement">
                                                <a href="" style="background-color:rgb(185, 52, 52) ;"></a>
                                            </li>
                                            <li class="filtercolorelement">
                                                <a href="" style="background-color:rgb(245, 237, 237) ;"></a>
                                            </li>
                                            <li class="filtercolorelement">
                                                <a href="" style="background-color:rgb(247, 247, 126) ;"></a>
                                            </li>
                                        </ul>
                                        <!-- <label class="customradiobtn" for="">
                                            <input type="radio" id="radio1">
                                            <span class="checked1"></span>
                                        </label>
                                        <label class="customradiobtn" for="">
                                            <input type="radio" id="radio2">
                                            <span class="checked2"></span>
                                        </label>
                                        <label class="customradiobtn" for="">
                                            <input type="radio" id="radio2">
                                            <span class="checked3"></span>
                                        </label>
                                        <label class="customradiobtn" for="">
                                            <input type="radio" id="radio2">
                                            <span class="checked4"></span>
                                        </label>
                                        <label class="customradiobtn" for="">
                                            <input type="radio" id="radio2">
                                            <span class="checked5"></span>
                                        </label> -->
                                    </div>
                                </li>
                        </div>

                        <div class="listelement">
                            <li class="filters">
                                <div class="filtername">
                                    <h6>
                                        Brand1
                                    </h6>
                                    <span class="Icon zerodeg">
                                        <i class="fas fa-chevron-down"></i>
                                    </span>
                                </div>
                                <div class="filterelement">
                                    <!-- <input type="checkbox" id="scales" name="scales" checked>
                                    <label for="scales">Scales</label> -->
                                    <ul class="advanced-filter">
                                        @foreach (var brand in Model.Brands)
                                        {
                                            <li class="checkfilter"><a asp-controller="product" asp-action="index">@brand.Name</a></li>
                                        }

                                        @*<li class="checkfilter"><a href="">Samsung</a></li>
                                            <li class="checkfilter"><a href="">Xiaomi</a></li>
                                            <li class="checkfilter"><a href="">Nokia</a></li>
                                            <li class="checkfilter"><a href="">Oppo</a></li>
                                            <li class="checkfilter"><a href="">Huawei</a></li>
                                            <li class="checkfilter"><a href="">Oneplus</a></li>
                                            <li class="checkfilter"><a href="">Rampage</a></li>
                                            <li class="checkfilter"><a href="">Intel</a></li>
                                            <li class="checkfilter"><a href="">Amd</a></li>*@
                                    </ul>
                                </div>
                            </li>
                        </div>
                        <div class="listelement">
                            <li class="filters">
                                <div class="filtername">
                                    <h6>
                                        Brand2
                                    </h6>
                                    <span class="Icon zerodeg">
                                        <i class="fas fa-chevron-down"></i>
                                    </span>
                                </div>
                                <div class="filterelement chcbx">
                                    @foreach (var brand in Model.Brands)
                                    {
                                        <label for="">
                                            <input type="checkbox" class="option-input checkbox">
                                            @brand.Name
                                        </label>
                                    }

                                    @*<label for="">
                                            <input type="checkbox" class="option-input checkbox">
                                            Samsung
                                        </label>
                                        <label for="">
                                            <input type="checkbox" class="option-input checkbox">
                                            Huawei
                                        </label>
                                        <label for="">
                                            <input type="checkbox" class="option-input checkbox">
                                            Honor
                                        </label>
                                        <label for="">
                                            <input type="checkbox" class="option-input checkbox">
                                            Nokia
                                        </label>
                                        <label for="">
                                            <input type="checkbox" class="option-input checkbox">
                                            Sony
                                        </label>
                                        <label for="">
                                            <input type="checkbox" class="option-input checkbox">
                                            HTC
                                        </label>
                                        <label for="">
                                            <input type="checkbox" class="option-input checkbox">
                                            ZTE
                                        </label>
                                        <label for="">
                                            <input type="checkbox" class="option-input checkbox">
                                            Oppo
                                        </label>
                                        <label for="">
                                            <input type="checkbox" class="option-input checkbox">
                                            OnePlus
                                        </label>*@
                                </div>
                            </li>
                        </div>
                        <div class="listelement">
                            <li class="filters">
                                <div class="filtername">
                                    <h6>
                                        Price1
                                    </h6>
                                    <span class="Icon zerodeg">
                                        <i class="fas fa-chevron-down"></i>
                                    </span>
                                </div>
                                <div class="filterelement">
                                    <ul class="advanced-filter">
                                        <li class="checkfilter"><a href="">Under $100</a></li>
                                        <li class="checkfilter"><a href="">$100-$300</a></li>
                                        <li class="checkfilter"><a href="">Above $300</a></li>
                                    </ul>
                                </div>
                            </li>
                        </div>
                        <div class="listelement priceFilter">
                            <li class="filters">
                                <div class="filtername">
                                    <h6>
                                        Price2
                                    </h6>
                                    <span class="Icon zerodeg">
                                        <i class="fas fa-chevron-down"></i>
                                    </span>
                                </div>
                                <div class="filterelement">
                                    <input type="number" placeholder="$100">
                                    <span>to</span>
                                    <input type="number" placeholder="$500">
                                </div>
                            </li>
                        </div>
                        </ul>
                    </div>
                    <div class="banner d-lg-block d-md-none d-sm-none d-none">
                        <a href="">
                            <img src="~/assets/images/banner/sidebar-banner_270x_caf21969-17c3-44e7-a84a-b10fc5e8a4be_320x.jpg"
                                 alt="">
                        </a>
                    </div>
                </div>
                <div class="productlistpageRightside col-lg-9 col-md-12 col-sm-12">
                    <div class="topofrightside">
                        <div class="categoryname">
                            <h6>All in One</h6>
                        </div>
                        <div class="settingsforProducts">
                            <div class="toolbargroup">
                                <div class="openfilterside d-lg-none">
                                    <span class="bars"><i class="fa-solid fa-filter"></i></span>
                                    <span class="fltr">Filter</span>
                                </div>
                                <div class="lookingProducts leftside">

                                    <span class="grid grid-4 activelooking d-xl-block d-lg-none d-md-none d-sm-none d-none"
                                          title="Grid" data-grid="grid-4">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="th"
                                             role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                             class="svg-inline--fa fa-th fa-w-16 fa-2x">
                                            <path fill="currentColor"
                                                  d="M149.333 56v80c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V56c0-13.255 10.745-24 24-24h101.333c13.255 0 24 10.745 24 24zm181.334 240v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm32-240v80c0 13.255 10.745 24 24 24H488c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24zm-32 80V56c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm-205.334 56H24c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24zM0 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H24c-13.255 0-24 10.745-24 24zm386.667-56H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zm0 160H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zM181.333 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24z"
                                                  class=""></path>
                                        </svg>
                                    </span>
                                    <span class="grid grid-3" title="Large" data-grid="grid-3">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fad"
                                             data-icon="th-large" role="img" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 512 512" class="svg-inline--fa fa-th-large fa-w-16 fa-2x">
                                            <g class="fa-group">
                                                <path fill="currentColor"
                                                      d="M488 272H296a24 24 0 0 0-24 24v160a24 24 0 0 0 24 24h192a24 24 0 0 0 24-24V296a24 24 0 0 0-24-24zm-272 0H24a24 24 0 0 0-24 24v160a24 24 0 0 0 24 24h192a24 24 0 0 0 24-24V296a24 24 0 0 0-24-24z"
                                                      class="fa-secondary"></path>
                                                <path fill="currentColor"
                                                      d="M488 32H296a24 24 0 0 0-24 24v160a24 24 0 0 0 24 24h192a24 24 0 0 0 24-24V56a24 24 0 0 0-24-24zm-272 0H24A24 24 0 0 0 0 56v160a24 24 0 0 0 24 24h192a24 24 0 0 0 24-24V56a24 24 0 0 0-24-24z"
                                                      class="fa-primary"></path>
                                            </g>
                                        </svg>
                                    </span>
                                    <span class="grid grid-2" title="List" data-grid="grid-2">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="list"
                                             role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                             class="svg-inline--fa fa-list fa-w-16 fa-2x">
                                            <path fill="currentColor"
                                                  d="M80 368H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm0-320H16A16 16 0 0 0 0 64v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16V64a16 16 0 0 0-16-16zm0 160H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm416 176H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"
                                                  class=""></path>
                                        </svg>
                                    </span>
                                    <!-- <span class="grid grid-1 d-lg-block d-md-none d-sm-none d-none" title="List Small" data-grid="grid-1">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                            data-icon="th-list" role="img" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 512 512" class="svg-inline--fa fa-th-list fa-w-16 fa-2x">
                                            <path fill="currentColor"
                                                d="M149.333 216v80c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-80c0-13.255 10.745-24 24-24h101.333c13.255 0 24 10.745 24 24zM0 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H24c-13.255 0-24 10.745-24 24zM125.333 32H24C10.745 32 0 42.745 0 56v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24zm80 448H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zm-24-424v80c0 13.255 10.745 24 24 24H488c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24zm24 264H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24z"
                                                class=""></path>
                                        </svg>
                                    </span> -->
                                </div>
                                <div class="sortByProduct">
                                    <div class="sortingFilter">
                                        <div class="filterName">
                                            <span class="d-lg-block d-md-block d-sm-none d-none">Sort by</span>
                                            <button id="sort_by_button">
                                                <span class="name">Name, A-Z</span><svg version="1.1"
                                                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                                                        viewBox="0 0 37 64">
                                                    <path d="M36.544 25.152q0 0.896-0.64 1.6l-16 16q-0.704 0.704-1.6 0.704t-1.6-0.704l-16-16q-0.704-0.704-0.704-1.6t0.704-1.6 1.6-0.704h32q0.896 0 1.6 0.704t0.64 1.6z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                        <ul class="sortList">
                                            <li class="sortlistItem activefilterItem">Name, A-Z</a></li>
                                            <li class="sortlistItem">Name, Z-A</li>
                                            <li class="sortlistItem">Featured</li>
                                            <li class="sortlistItem">Price, Low To High</a></li>
                                            <li class="sortlistItem">Price, High To Low</a></li>
                                            <li class="sortlistItem">Date, Old To New</a></li>
                                            <li class="sortlistItem">Date, New To Old</a></li>
                                            <li class="sortlistItem">Best Selling</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="rightside">
                                    <p class="productCount">Showing all 12 Items</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="productsection">
                        <div class="content">
                            <div class="contenybyCat">
                                <div class="bestdeals">
                                    <div class="productsByCat">
                                        @await Html.PartialAsync("_prListPartialView",Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- owl carousel -->
        <script src="~/plugins/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js"></script>
        <!-- ---------------- -->
        <!-- ------progressbar---- -->
        <script src="~/assets/JS/skill.bars.jquery.js"></script>

        <script src="~/assets/js/productlist.js"></script>


        <!-- ----------------- -->
        <script src="~/assets/js/script.js"></script>
    </body>
</section>
