@model AccountVM
@{
    ViewData["Title"] = "Register";
}
<body>
    <div id="registerPage">
        <section id="account" style="margin-top:50px;">
            <div class="container">
                <div class="row">
                    <div class="account">
                        <div class="registerwrapper">
                            <div class="register">
                                <div class="heading">
                                    <h4 class="nameofdiv">Recovery Password</h4>
                                </div>
                                <div class="content">
                                    <h4 class="description">You can do this process once with this link.</h4>
                                    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                                    <form method="post">
                                        <div class="inputwrapper">
                                            <label asp-for="AppUser.Email">Email*</label>
                                            <input asp-for="AppUser.Email" placeholder="Please enter your email"><br />
                                            <span class="text text-danger" asp-validation-for="AppUser.Email"></span>
                                        </div>
                                        <div class="inputwrapper">
                                            <label asp-for="Password">New Password*</label>
                                            <input asp-for="Password" placeholder="Enter new password"><br />
                                            <span class="text text-danger" asp-validation-for="Password"></span>
                                        </div>
                                        <input asp-for="Token" style="margin-top:10px;display:none">
                                        <div class="inputwrapper">
                                            <label asp-for="ConfirmPassword">Comfirm new password</label>
                                            <input asp-for="ConfirmPassword" placeholder="Comfirm password"><br />
                                            <span class="text text-danger" asp-validation-for="ConfirmPassword"></span>
                                        </div>
                                        <input class="inpSubmit" type="submit" value="Reset Password">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- owl carousel -->
    <script src="~/plugins/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js"></script>
    <!-- ---------------- -->
    <!-- ------progressbar---- -->
    <script src="~/assets/JS/skill.bars.jquery.js"></script>
    <!-- ----------------- -->
    <script src="~/assets/js/script.js"></script>
</body>