@inject ElectroApp.Services.LayoutServices layoutService
@{
    ViewData["Title"] = "Index";
}
@{
    CompareVM compare = layoutService.ShowCompare();
}
<section id="compareProductPg" style="margin-bottom:50px">
    <div class="container">
        <div class="row">
            <div class="desc">
                <h5>Compare Page</h5>
            </div>
            <table class="compCart">
                @await Html.PartialAsync("_comparePartialView")
            </table>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        $(document).on("click", ".addToCompare", function (e) {
            e.preventDefault();
            var href = $(this).attr("href");
            var base = window.location.origin;
            var url = `${base}${href}`
            var urlForPartial = `${base}/Product/GetComparePartial`
            fetch(url).then(res => res.text()).then(data => {
                fetch(urlForPartial).then(res => res.text().then(data => {
                    $(".compCart").empty();
                    $(".compCart").append(data);
                }))

            })
            setTimeout(function () {
                var totalCount = document.getElementById("totalCompareCount");
                var count = totalCount.innerHTML
                var htmlTag = document.getElementById("tcompCount");
                htmlTag.innerHTML = count
            }, 100)
        });
    })

    $(document).ready(function () {
        $(document).on("click", ".removeCompEl", function (e) {
            e.preventDefault();
            var href = $(this).attr("href");
            var base = window.location.origin;
            var url = `${base}${href}`
            var urlForPartial = `${base}/Product/GetComparePartial`
            fetch(url).then(res => res.text()).then(data => {
                fetch(urlForPartial).then(res => res.text().then(data => {
                    $(".compCart").empty();
                    $(".compCart").append(data);
                }))

            })
            setTimeout(function () {
                var totalCount = document.getElementById("totalCompareCount");
                var htmlTag = document.getElementById("tcompCount");
                htmlTag.innerHTML = "0"
                var count = totalCount.innerHTML
                htmlTag.innerHTML = count
            }, 100)
        });
    })
</script>
<script src="~/assets/js/script.js"></script>