
@{
    ViewData["Title"] = "Index";
}
<section id="compareProductPg" style="margin-bottom:50px">
    <div class="container">
        <div class="row">
            <div class="desc">
                <h5>Compare Page</h5>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td class="heading-col">Product</td>
                        <td class="product-col">
                            <div class="compareProduct">
                                <div class="productInfo">
                                    <div class="remove"><a href=""><i class="fa-solid fa-xmark"></i></a></div>
                                    <div class="productImage">
                                        <a href="">
                                            <img src="~/assets/images/featuredProducts/Printer_180x.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="productName">
                                        <a href="">Faxtex Product Sample</a>
                                    </div>
                                    <div class="productPrice">
                                        <span>$110.00</span>
                                    </div>
                                    <div class="comparsionPrDetails">
                                        <a href="">View Detail</a>
                                    </div>
                                </div>

                            </div>
                        </td>
                        <td class="product-col">
                            <div class="compareProduct">
                                <div class="productInfo">
                                    <div class="remove"><a href=""><i class="fa-solid fa-xmark"></i></a></div>
                                    <div class="productImage">
                                        <a href="">
                                            <img src="~/assets/images/featuredProducts/Earphones_180x.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="productName">
                                        <a href="">Ugreen Earphones</a>
                                    </div>
                                    <div class="productPrice">
                                        <span>$50.00</span>
                                    </div>
                                    <div class="comparsionPrDetails">
                                        <a href="">View Detail</a>
                                    </div>
                                </div>

                            </div>
                        </td>
                        <td class="product-col">
                            <div class="compareProduct">
                                <div class="productInfo">
                                    <div class="remove"><a href=""><i class="fa-solid fa-xmark"></i></a></div>
                                    <div class="productImage">
                                        <a href="">
                                            <img src="~/assets/images/featuredProducts/GameStation_180x.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="productName">
                                        <a href="">Play Station 5</a>
                                    </div>
                                    <div class="productPrice">
                                        <span>$699.00</span>
                                    </div>
                                    <div class="comparsionPrDetails">
                                        <a href="">View Detail</a>
                                    </div>
                                </div>

                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="heading-col">Vendor</td>
                        <td class="product-col">Bulgari</td>
                        <td class="product-col">Ugreen</td>
                        <td class="product-col">Sony</td>
                    </tr>
                    <tr>
                        <td class="heading-col">Collection</td>
                        <td class="product-col">Accessories</td>
                        <td class="product-col">Accessories</td>
                        <td class="product-col">Gaming</td>
                    </tr>
                    <tr>
                        <td class="heading-col">Options</td>
                        <td class="product-col">
                            <p><span class="optName">Color:</span>Blue,Black,Red,Yellow</p>
                        </td>
                        <td class="product-col">
                            <p><span class="optName">Color:</span>Blue,Black,Red,Yellow</p>
                        </td>
                        <td class="product-col">
                            <p><span class="optName">Memory:</span>240Gb,500Gb,1Tb,2Tb</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="heading-col">Avaliability</td>
                        <td class="product-col">In Stock</td>
                        <td class="product-col">In Stock</td>
                        <td class="product-col">Out of Stock</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>